{% extends "base.html" %} {% block title %}User Profile{% endblock %} {% block
content %}
<div class="container">
	<div class="row align-items-center">
		<div class="col-md-12 text-center">
			<br />
			<h1>User Profile: {{ user.username }}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<br />
			<h2>{{ user.username }}</h2>
			<strong>Bio:</strong> {{ user.bio }}
			<br />
			{% if current_user and current_user.id != user.id %}
			<div>
				<form
					method="POST"
					action="{{ url_for('views.follow_user', user_id=user.id) }}"
				>
					<button
						type="submit"
						class="btn btn-primary"
						style="margin-top: 10px"
					>
						Follow
					</button>
				</form>
				<form
					method="POST"
					action="{{ url_for('views.unfollow_user', user_id=user.id) }}"
				>
					<button
						type="submit"
						class="btn btn-danger"
						style="margin-top: 10px"
					>
						Unfollow
					</button>
				</form>
			</div>
			<div>
				<strong>Followers: {{ followers_count }}</strong>
				<strong>Following: {{ following_count }}</strong>
			</div>

			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h3 class="text-center">Posts</h3>
			<div class="card border-dark">
				{% for post in user.posts %}
				<div class="card-body">
					<div style="background-color: lightgrey">
						{{ post.text }}
					</div>
					<div>Posted on: {{ post.date_created }}</div>

					{% if current_user and current_user.id == user.id %}
					<form
						method="POST"
						action="{{ url_for('views.delete_post', id=post.id) }}"
					>
						<button
							type="submit"
							class="btn btn-danger"
							style="margin: 5px 0px"
						>
							Delete
						</button>
					</form>
					{% endif %}
					<div style="background-color: lightgrey">
						<div class="btn-group" style="margin-top: 10px">
							<form
								method="POST"
								action="{{ url_for('views.like_post', post_id=post.id) }}"
							>
								<button
									type="submit"
									class="btn btn-primary"
									style="margin: 0px 15px 0px 2px"
								>
									Like
								</button>
								<br />
								<p
									class="mb-0"
									style="margin: 0px 15px 0px 2px"
								>
									Likes: {{ post_likes_count.get(post.id, 0)
									}}
								</p>
							</form>
							<form
								method="POST"
								action="{{ url_for('views.dislike_post', post_id=post.id) }}"
							>
								<button type="submit" class="btn btn-danger">
									Dislike
								</button>
								<br />
								<p class="mb-0">
									Dislikes: {{
									post_dislikes_count.get(post.id, 0) }}
								</p>
							</form>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
